.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
CRAN-SUBMISSION
iso_standards*
*.DS_Store
article/article.log
article/article.pdf
article/article.tex
article/jss.bst
article/jss.cls
article/jsslogo.jpg
article/references.bib
article/article_files
vignettes-old
next

